*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.select-container {
  position: relative;
  display: inline-flex;
  align-items: center; /* center the down-arrow vertically */
}

/* down-arrow on the right-hand-side of the input */
.select-container::after {
  content: "";
  position: absolute;
  right: 4px;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="hotpink" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none; /* allow the <select> the arrow is overlaying to be clicked */
}

select {
  /* remove default select appearance */
  appearance: none;
  -webkit-appearance: none;

  display: inline-flex;
  align-items: center;
  height: 24px;
  font-size: inherit;
  padding: 0 24px 0 4px; /* give enough padding on the right to accomodate the dropdown icon */
  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: transparent;
}
